#a5
{
	background-color: blue;
}
#signin
{
	margin-left: 500px;
	margin-top: 200px;
}
#bg
{
	width:500px;
	height:500px;
}
#signup
{
	margin-left:500px;
	margin-top:100px;
}
#signin1
{
	margin-left: 500px;
	margin-top: 100px;
}
#test
{
	margin-top:50px;
	margin-left: 150px;
}
