{% extends 'base.html' %}
{% block meta %}
    <style type="text/css">
    .floater {
    background-color: #2f3542;
    color: #dfe4ea;
    margin-right: 10px;
    margin-bottom: 10px;
    }
    .floater:hover {
    box-shadow: 1px 2px 2px #ddd;
    transform: scale(1.01);
    }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Add New Borrower</h4>
                <hr>
                <form action="/borrow/" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control form-control-sm" type="text" name="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-sm" type="text" name="phone" placeholder="Phone No.">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-sm" type="number" name="amount" placeholder="Amount">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-sm" type="number" name="interest" placeholder="Interest %">
                    </div>
                    <div class="form-group">
                        <select class="custom-select">
                            <option selected disabled>Terms</option>
                            <option value="week">Weeks</option>
                            <option value="month">Months</option>
                            <option value="year">Years</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-sm" type="number" name="duration" placeholder="Duration of Lending">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-sm" type="date" name="date">
                    </div>
                    <button type="submit" class="btn btn-sm btn-success" style="width:100%">Add</button>
                </form>
            </div>
            <div class="col-md-8">
                <h4>Your Borrowers</h4>
                <hr>
                <div style=" ">
                    
                    {% for i in bor %}
                        <div class="card floater" style="display: inline-block; min-width: 220px; ">
                            <div class="card-body">
                                <h4 class="card-title">{{i.name}}</h4>
                                <p class="card-text">💵 ₹{{i.amount}}<br>📈 {{i.interest}}%<br>📅 {{i.date|date}}</p>
                                <a href="/history/{{i.id}}/" class="btn btn-sm btn-outline-light">See Payment History</a>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
                
            </div>
        </div>
    {% endblock %}