{% extends 'base.html' %}
{% block meta %}
	<style type="text/css">
	.floater {
	background-color: #2f3542;
	color: #dfe4ea;
	margin-right: 10px;
	margin-bottom: 10px;
	}
	
	</style>
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="card floater" style="display: inline-block; width:100%">
					<div class="card-body">
						<h4 class="card-title">{{borrower.name}}</h4>
						<p class="card-text">💵 ₹{{borrower.amount}}<br>📈 {{borrower.interest}}%<br>📅 {{borrower.date|date}}</p>
					</div>
				</div>
				<a href="/paid/{{borrower.id}}/" class="btn btn-sm btn-outline-success" style="width:100%">Record Payment</a>
			</div>
			<div class="col-md-3">
				<h6>Record Payement by {{borrower.name}}</h6>
				<hr>

				<form action="/paid/{{borrower.id}}/" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<input class="form-control form-control-sm" type="number" name="pamount" placeholder="Principal Amount Paid">
					</div>
					<div class="form-group">
						<input class="form-control form-control-sm" type="number" name="iamount" placeholder="Interest Amount Paid">
					</div>
					<div class="form-group">
						<input class="form-control form-control-sm" type="date" name="date">
					</div>
					
					<button class="btn btn-sm btn-outline-dark" type="submit" style="width:100%">Save Payment</button>
				</form>
			</div>
			<div class="col-md-5">
				<table class="table table-striped">
					<thead>
						<tr>
							<td>Date</td>
							<td>Borrower</td>
							<td>Principal Amout</td>
							<td>Interest Amount</td>
						</tr>
					</thead>
					<tbody>
						{% for payment in history %}
							<tr>
								<td>{{payment.timestamp}}</td>
								<td>{{payment.borrower.name}}</td>
								<td>₹{{payment.principal_amt}}</td>
								<td>₹{{payment.interest_amt}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			
		</div>
	</div>
{% endblock %}