<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<title>Signin</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel ="stylesheet" href = "{% static 'css/home.css' %}" type = "text/css" >
	</head>
		<form action ="" method = "POST">
			{% csrf_token %}
			<nav class="navbar navbar-expand-lg navbar-light " id="a5">
            <div class="container">
                <a class="navbar-brand" href="" >Home</a>
                <div class="ab">
                    <a class="navbar-brand" href="{% url 'signin' %}">Signin</a>
                    <a class="navbar-brand" href="{% url 'signup' %}">Signup</a>
                    </div>
                </div>
            </nav>
		
		<div class="container" id="signin">
				<div class="card" style="width: 400px;height:300px">
					<div class="card-body">
						<h3> Sign In</h3>
						<div class="col-xs-3">
							
								<i class="fa fa-envelope icon"></i>
								Email<input type="email" class="form-control" name="email">
							</div><hr>
							<div class="col-xs-3">

									<i class="fa fa-key icon"></i>
									Password<input type="password" class="form-control" name="password">
								</div>
							</div>
							<button class="btn btn-primary" type="submit">Sign In</button>
						</div>
					</div>
				</form>
			</div>
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		</body>
	</html>